.avatar img {
    margin-top: 13px;
    border-radius: 30px;
    margin-right: 30px;
    align-self: center;
}
#icon {
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: 14px 14px;
    padding-left: 56px;
    width:358px; 
    height: 46px;
    border: none;
    border-radius: 8px;
    background-color: #f5f5f5;  
    margin-top: 13px;  
    margin-left: 30px;
    position: relative;
  }
.search-bar::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 22px;
    background: #EF9011;
    border-radius: 4px;
    top: 26px;
    left: 322px;

  }
  input:focus{
    outline: none;
  }