.main {
    display: flex;
    min-height: 100vh;
    width: 100%;
}
.nav {
    
    min-width: 248px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 24px;
}
.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}
.header {
    
    min-height: 78px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

